**1.A Write a python program for the following:
  Input the string “Python” as a list of characters from console, delete at least 2 characters, reverse the
  resultantstring and print it**

In [4]:
input_str = list(input('enter the string : '))
if len(input_str) >= 2:
  print(''.join(input_str[:1:-1]))

enter the string : hemanth
htnam

**1.B  Take two numbers from user and perform at least 4 arithmetic operations on them.**

In [7]:
a = int(input('enter number 1 : '))
b = int(input('enter number 2 : '))
print('addition : ',a+b)
print('subtraction : ',a-b)
print('division : ',a/b)
print('multiplicaiton : ',a*b)

enter number 1 : 4
enter number 2 : 10
addition :  14
subtraction :  -6
division :  0.4
multiplicaiton :  40

**2. Write a program that accepts a sentence and replace each occurrence of ‘python’ with ‘pythons’**

In [9]:
sentence = input('enter sentence : ')
sentence.replace('python','pythons')

enter sentence : im python in python

'im pythons in pythons'

**3. Use the if statement conditions to write a program to print the letter grade based on an input class score. Use the
grading scheme we are using in this class.**

In [11]:
grade = int(input('enter grade value : '))
if grade >= 90:
  print('A GRADE')
elif grade >= 80 and grade < 90:
  print('B GRADE')
elif grade >= 70 and grade < 80:
  print('C GRADE')
elif grade >= 60 and grade < 70:
  print('D GRADE')
else :
  print('F GRADE')

enter grade value : 90
A GRADE